<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjnu.club.mapper.CategoryInfoMapper">
    <resultMap id="BaseResultMap" type="com.tjnu.club.info.CategoryInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="top_category" jdbcType="INTEGER" property="topCategory"/>
        <result column="parent_category_id" jdbcType="VARCHAR" property="parentCategoryId"/>
        <result column="is_deleted" jdbcType="BIGINT" property="isDeleted"/>
    </resultMap>

    <sql id="BaseColumn">
        id,gmt_create,gmt_modified,category_id,category_name,top_category,parent_category_id,id_deleted
    </sql>




</mapper>