<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjnu.club.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.tjnu.club.info.UserInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_img" jdbcType="VARCHAR" property="userImg"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="college" jdbcType="VARCHAR" property="college"/>
        <result column="university" jdbcType="VARCHAR" property="university"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="login_times" jdbcType="BIGINT" property="loginTimes"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="is_deleted" jdbcType="BIGINT" property="isDeleted"/>
    </resultMap>

    <sql id="BaseColumn">
        id,gmt_create,gmt_modified,user_id,user_img,user_name,nick_name,password,email,status,grade,major,
        college,university,last_login_time,login_times,description,is_deleted
    </sql>

    <select id="listUserInfo" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumn" />
        FROM user_info
        WHERE is_deleted = 0
    </select>


</mapper>